body{
    background: rgb(150,146,212);
    background: linear-gradient(90deg, rgba(150,146,212,1) 0%, rgba(77,91,191,1) 35%, rgba(225,238,241,1) 100%);
}

header{
    background-color: rgba(0, 0, 0, 0.295);
    margin: 3rem;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: aliceblue;
    
}

header{
    background-image: url(img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    margin-bottom: 2rem;
    position: relative;
}

header h1{
    color: rgb(243, 243, 100);
    margin-top: 40rem;
}


.subtitulo{
    background-color: rgba(0, 0, 0, 0.295);
    text-align: center;
    width: 40%;
    margin: auto;
    color: rgb(243, 243, 100);
}

.subtitulo h1{
    font-size: 2rem;
    padding: 2rem;
   
}

.ejemplos{
    background-color: rgba(255, 255, 255, 0.644);
    padding: 2rem;
    margin: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.ejemplos a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    background-color:#145bf4;
    width: 70%;
    margin: auto;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.ejemplos :hover{
    color: rgb(11, 10, 16);
    background-color: aliceblue;
    
}

.base{
    background-color: rgba(0, 0, 0, 0.503);
    color: rgb(243, 243, 100);
    padding: 6rem;

}